
/*
===========PIE DE PAGINA=========
*/
/* SE ESTABLECE EL COLOR Y TIPO DE LETRA, ALTURA Y POSICIONAMIENTO DE LA INFORMACION*/
.pieInfo
{
   color: white;
   background: rgb(71, 73, 73);
   height: 120px;
   position: relative;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   box-shadow:0px 4px 3px rgba(0,0,0,.5);
}
/* SE ESTABLECE EL COLOR DE LETRA Y FONDO DEL PIE DE PAGINA, JUNTO CON LA ALTURA, ANCHURA Y POSICION*/
.FI
{
    
    color: black;
    height: 20px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
     padding-top: 20px;
}
.Fblok
{
    display: inline-block;
}
.Fblok2
{
    display: inline-block;
}
/*SE ESTABLECEN LAS MEDIDAS POSICION Y COLOR DE LAS OPCIONES DEL PIE DE PAGINA*/
.Fimg
{
    margin: 0;
    padding: 0;
    float: none;
   bottom: 0;
   color: black;
    
}
/*SE ESTABLECEN LAS MEDIDAS POSICION Y COLOR DE LAS OPCIONES DEL PIE DE PAGINA*/
.Fimg2
{
    margin: 0;
    padding: 0;
   bottom: 0;
   color: black;
   float: none;
}

