
/* SE ESTABLECEN LAS MEDIDAS DE TODAS LAS IMAGENES*/
img
{
    width: 30px;
    height: 30px;
}
.BDT
{
    
    background: url(imgPortadas/Portada.png);
}
.imgShow
{
    width: 400px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
}
.imgInzumo
{
    width: 400px;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
}
.imgShowA_1
{
    width: 400px;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    box-shadow:0px 16px 3px rgba(0,0,0,.5);
}
.imgShowA_2
{
    width: 400px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    box-shadow:0px 16px 3px rgba(0,0,0,.5);
}
.imgShowA_3
{
    width: 400px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    box-shadow:0px 16px 3px rgba(0,0,0,.5);
}
.imgShowA_4
{
    width: 200px;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    box-shadow:0px 16px 3px rgba(0,0,0,.5);
}
.imgShowA_5
{
    width: 370px;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    box-shadow:0px 16px 3px rgba(0,0,0,.5);
}
.imgShowA_6
{
    width: 300px;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    box-shadow:0px 16px 3px rgba(0,0,0,.5);
}
.imgShowE_1
{
    width: 400px;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    box-shadow:0px 16px 3px rgba(0,0,0,.5);
}
.imgShowE_2
{
    width: 300px;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    box-shadow:0px 16px 3px rgba(0,0,0,.5);
}
.imgShowP_1
{
    width: 300px;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    box-shadow:0px 16px 3px rgba(0,0,0,.5);
}
.imgDiferenciaSec
{
    width: 400px;
    height: 500px;
    max-width: 100%;
    max-height: 100%;
    box-shadow:0px 16px 3px rgba(0,0,0,.5);
}
.imgCollage
{
    width: 500px;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
    box-shadow:0px 16px 3px rgba(0,0,0,.5);
}
