/* SE LE ESTABLECE AL ENCABEZADO UNA IMAGEN DE FONDO Y LA ALTURA DEL MISMO*/
.Aencabezado {
    height: 450px;
    max-width: 100%;
    background: url(imgPortadas/BCK3.png);
    background-size: cover;
   
}
/*
SE LE ESTABLECE AL ENCABEZADO UN TIPO DE LETRA, UN TAMANO DE LETRA, ALINEAR SU CONTENIDO Y SU MUESTRA
*/
.Aencabezado {
    font-size: 60px;
    font-family: 'Merriweather', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

/*=====================SECCION 1=============================*/
/* SE ESTABLECE UNA IMAGEN DE FONDO A LA SECCION*/
.SA1 {
    background: transparent;
    
}


/*=========================SECCION 2=========================*/
/* SE ESTABLECE UNA IMAGEN DE FONDO A LA SECCION*/
.SA2 {
    background: transparent;
    
    
}
/*========================SECCION 3==========================*/
/* SE ESTABLECE UNA IMAGEN DE FONDO A LA SECCION Y SE ALINEA EL TEXTO DE LA MISMA. */
.SA3 {
    background: transparent;
    
}
/* SE ESTABLECE EL ANCHO MAXIMO DE LOS PARRAFOS DE LA SECCION 3*/
.SA3 p {
    max-width: 450px;
}
/*=======================SECCION 4===========================*/
/* SE ESTABLECE UNA IMAGEN DE FONDO Y EL RELLENO DEL ESPACIO DEL FONDO*/
.SA4 {
    background: transparent;
    
    
}
/*=======================SECCION 5===========================*/
/* SE ESTABLECE UNA IMAGEN DE FONDO Y EL RELLENO DEL ESPACIO DEL FONDO*/
.SA5 {
    background: transparent;
    
    
}
/*==============================*/
.blockL
{
    position: relative;
    float: left;
}
.blockR
{
    position: relative;
    float: right;
}

  