
/* SE LE ESTABLECE AL ENCABEZADO UNA IMAGEN DE FONDO Y LA ALTURA DEL MISMO*/
.Dencabezado {
    height: 450px;
    max-width: 100%;
    background: url(imgPortadas/BCK2.png);
    background-size: cover;
   
}
/*
SE LE ESTABLECE AL ENCABEZADO UN TIPO DE LETRA, UN TAMANO DE LETRA, ALINEAR SU CONTENIDO Y SU MUESTRA
*/
.Dencabezado {
    font-size: 60px;
    font-family: 'Merriweather', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
/*=====================SECCION 1=============================*/
/* SE ESTABLECE UNA IMAGEN DE FONDO A LA SECCION*/
.SD1 {
    background: transparent;
    
}


/*=========================SECCION 2=========================*/
/* SE ESTABLECE UNA IMAGEN DE FONDO A LA SECCION*/
.SD2 {
    background: transparent; 
    
}
/*========================SECCION 3==========================*/
/* SE ESTABLECE UNA IMAGEN DE FONDO A LA SECCION Y SE ALINEA EL TEXTO DE LA MISMA. */
.SD3 {
    background: transparent;
    
   
}
/* SE ESTABLECE EL ANCHO MAXIMO DE LOS PARRAFOS DE LA SECCION 3*/
.SD3 p {
    max-width: 450px;
}
/*=======================SECCION 4===========================*/
/* SE ESTABLECE UNA IMAGEN DE FONDO Y EL RELLENO DEL ESPACIO DEL FONDO*/
.SD4 {
    background: transparent;
    
    
}
/*========================================COLUMNAS Y LISTAS==========================*/
/* SE ESTABLECE LA POSICION DE LAS LISTAS UTILIZADAS */
.col
{
    text-align: left;
    font-size: 17.5px;
    display: inline-block;
    min-height: 30%;
    max-width: 450px;
    margin-bottom: 20px;
    background-size: cover;
    list-style-position: inside;
    list-style-type: square;
    border-radius: 10px;
    border-color: black;
    border-style:solid;
   background-color: #ffffff;
   box-shadow:0px 16px 3px rgba(0,0,0,.5);
   font-family: 'Grandstander', cursive;
   
}
.col h3
{
    text-align: center;
}
.col2 h3
{
    text-align: center;
}
/* SE ESTABLECE LA POSICION DE LAS LISTAS UTILIZADAS A FORMA DE COLUMNAS*/
.col2
{
    text-align: left;
    display: inline-block;
    font-size: 17.5px;
    min-height: 30%;
    max-width: 450px;
    margin-bottom: 20px;
    background-size: cover;
    list-style-position: inside;
    list-style-type: disc;
    border-radius: 10px;
    border-color: black;
    border-style:solid;
   background-color: #ffffff;
   box-shadow:0px 16px 3px rgba(0,0,0,.5);
   font-family: 'Grandstander', cursive;
}
.ListL
{
float: left;
}
.imgInfo
{
    display: inline;
    
}

.bloque
{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    
}







  
