@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@import url(Footer.css);
@import url(reset.css);
@import url(PopUpbtns.css);
@import url(styleCuriosidades.css);
@import url(styleEnvasado.css);
@import url(stylePlatillosExoticos.css);
@import url(styleDurazno.css);
@import url(styleElaboracion.css);
@import url(styleVidaAnaquel.css);
@import url(styleImagenes.css);


/*=========================APLICACIONES GENERALES=========================*/
/*
SE LE ESTABLECE A TODA CLASE CUERPO (BODY) UN TIPO DE LETRA Y CENTRADO. 
*/
html, body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;

}
.textoEncabezado
{
    background-color: #ccf6c8;
    box-shadow:0px 16px 3px rgba(0,0,0,.5);
    border-radius: 10px;
}
/* SE ESTABLECEN LAS MEDIDAS DE TODAS LAS IMAGENES*/
img
{
    width: 30px;
    height: 30px;
}
/* SE LE ESTABLECE A TODA CLASE TITULO (TITLE) UN TIPO DE LETRA, MARGEN Y TEXTO*/
.title{
    margin-bottom: 40px;
    font: 60px;
    display: block;
    margin: 0 auto;
    color: black;
    font-style: italic;
    font-size: 50px;
    font-family: 'Sansita Swashed', cursive;
  
}

/* SE LE ESTABLECE A TODA CLASE PARRAFO (P) UN MARGEN */
p {
    margin-bottom: 40px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 80%;
    font-family: 'Catamaran', sans-serif;
}
/* SE LE ESTABLECE A TODA CLASE CONTENIDO (CONTENT) UN ESPACIADO ENTRE SI Y EL BORDE*/
.content {
    padding: 80px 0;

}
/* SE LE ESTABLECE A TODA CLASE CONTENIDO DE ARTICULO (CONTAIN) UN MARGEN Y MAXIMO DE ANCHO */
.contain {
    text-align: justify;
    max-width: 100%;
    margin: 0 auto;
} 
/*SE ESTABLECE A TODA CLASE DIVISION EL ESTILO, FONDO, COLOR Y TAMANO DEL BLOQUE DE FONDO EN LOS PARRAFOS*/
.division
{
   
    border-radius: 20px;
    border-color: black;
   border-style:solid;
   width: fit-content;
   height: fit-content;
   margin-bottom: 20px;
   background-color: #fff;
   box-shadow:0px 16px 3px rgba(0,0,0,.5);
}
.ele
{
    width: 380px;
}
.eleInd
{
    width: 390px;
}
.eleAnaquel
{
    width: 340px;
}
.eleLav
{
    width: 350px;
}
.eleMetal
{
    width: 140px;
}
.eleGour
{
    width: 190px;
}
/* SE LE ESTABLECE A TODA CLASE SECTION (SECCIONES) UN MINIMO Y MAXIMO DE MARGEN Y UN COLOR DE LETRA*/
section
{
    min-height: 30%;
    max-width: 100%;
    color:black;
    background-size: cover;
    
}
/* SE ESTABLECE EL ANCHO MAXIMO DE LOS PARRAFOS DE LAS SECCIONES*/

section p
{
    max-width: 450px;
}
/*========================ENCABEZADO==========================*/
/*
SE LE ESTABLECE AL ENCABEZADO UN TIPO DE LETRA, UN TAMANO DE LETRA, ALINEAR SU CONTENIDO Y SU MUESTRA
*/
.encabezado {
    font-size: 60px;
    font-family: 'Merriweather', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

/* SE LE ESTABLECE AL ENCABEZADO UNA IMAGEN DE FONDO Y LA ALTURA DEL MISMO*/
.encabezado {
    height: 450px;
    max-width: 100%;
    background: url(imgPortadas/BCK1.png) no-repeat center top;
    background-size: cover;
}
.BDT
{
    
    background: url(imgPortadas/Portada.png);
}

/*=====================SECCION 1=============================*/
/* SE ESTABLECE UNA IMAGEN DE FONDO A LA SECCION*/
.S1 {
    background: url(imgPortadas/btnDurazno.png) no-repeat center;
    color: black;
    
}


/*=========================SECCION 2=========================*/
/* SE ESTABLECE UNA IMAGEN DE FONDO A LA SECCION*/
.S2 {
    background: url(imgPortadas/tumbEDA.gif) no-repeat center;
    color: black;
    
}
/*========================SECCION 3==========================*/
/* SE ESTABLECE UNA IMAGEN DE FONDO A LA SECCION Y SE ALINEA EL TEXTO DE LA MISMA. */
.S3 {
    background: url(imgPortadas/btnEnvasado.gif) no-repeat center;
    color: black;
   
}

/*=======================SECCION 4===========================*/
/* SE ESTABLECE UNA IMAGEN DE FONDO Y EL RELLENO DEL ESPACIO DEL FONDO*/
.S4 {
    background: url(imgPortadas//btnPlatillos.png) no-repeat center;
    color: black;
    
}
.S5 {
    background: url(imgPortadas/btnAnaquel.gif) no-repeat center;
    color: black;
    
}
.S6
{
    background: url(imgPortadas/btnCuriosidades.gif) no-repeat center;
    color: black;
}
/*=========================BOTONES=========================*/
/*
CONFIGURACION DE LOS BOTONES, DESIG, SIZE AND COLOR OF THE BORDERS AND  LETTERS.
*/
.btn {
    display: inline-block;
    padding: 10px 40px;
    border: 2px solid black;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    box-shadow:0px 16px 3px rgba(0,0,0,.5);
}
/*
AL PASAR EL MOUSE POR ENCIMA, EL BOTON CAMBIARA DE COLOR SU FONDO.
*/
.btn:hover
{
    background: #9DD850;
}
/*SE ESTABLECE LA IMAGEN DE FONDO DEL PIE DE PAGINA*/
.pieInfo
{
    background: url(img/B6.jpg) no-repeat center top;
}
h3
{
    margin-bottom: 10px;
    font: 10px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    color: black;
    font-style: italic;
    font-size: 20px;
}
.separacion
{
    min-height: 0.5%;
    max-width: 100%;
    background-size: cover;
    background: #101a16;
}

